/* groupEventAttend.css */

/* 일정 참여신청 팝업창 body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F6F7F8;
}

/* 일정 참여신청 팝업 헤더 */
#eventAttendHeaderDiv div {
	background-color: white;
    padding: 20px;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    border: 1px solid #ccc;
}

#eventAttendGuideDiv1 {
	font-size: 25px;
	font-weight: bold;
}

#eventAttendGuideDiv2 li{
	font-size: 15px;
	text-align: left;
}

#eventAttendGuideDiv2 ul{
	text-align: center;
	margin: 0 auto;
}

#checkDiv, #eventAttendbtnsDiv {
	display: flex;
    justify-content: center;
    align-items: center;
	background-color: white;
    padding: 20px;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    border: 1px solid #ccc;
    gap: 200px;
}

#eventAttendbtnsDiv button{
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	width: 100px;
	height: 48px;
	border-radius: 7px;	
	border: none;
	background-color: #eaf2ea;
	font-weight: bold;	
	color:#3b5f3e;
}

#eventAttendbtnsDiv button:hover {
	background-color: #8fbc8f;
	color: white;
}