/* groupEventAttendCancel.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    border: 1px solid #000;
    padding: 20px;
    height: auto;
    width: 450px;
}

section div {
    border: 1px solid #000;
    padding: 10px;
}

h2 {
    text-align: center;
}

#eventAttendCancelbtnsDiv {
    display: flex;
    justify-content: center;
}