/* groupEventAttend.css */

/* 일정 참여 신청창 모달 */
.eventAttend-wide-modal {
	width: 610px;
}

#eventAttendGuideDiv {
    padding: 20px;
    width: 510px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    border: 1px solid #ccc;
}

#eventAttendGuideDiv li {
	text-align: left;
	padding: 3px 0;
}

#eventAttendGuideDiv ul{
	text-align: center;
	margin: 0 auto;
}