/* groupEvent.css */

/* 모임 일정 탭 페이지 */
#eventTapPageSection {
	width: 100% !important;
	display: flex;          /* Flexbox를 사용하여 자식 요소를 정렬 */
    flex-direction: column; /* 자식 요소를 세로로 나열 */
    align-items: center;	
}

#groupEventPageDiv {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    padding: 10px;
    width: 1220px;
    margin: 10px;
}

/* 모임 일정 리스트/달력 보기 네비게이션 */
#groupEventNavDiv {
	background-color: white;
	width: 100%;
	display: flex;          /* Flexbox를 사용하여 자식 요소를 정렬 */
    flex-direction: column; /* 자식 요소를 세로로 나열 */
    align-items: center;
    border-top: 1px solid #B7B7B7;
}

/* 모임 일정 리스트/달력 보기 버튼 */
#groupEventNavBtnDiv {
	width: 1207px;
    grid-column: span 2;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 0px !important;
}

/* 모임 일정 리스트/달력 보기 버튼 */
#groupEventNavBtnDiv button {
    margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	width: 200px;
	height: 48px;
	border-radius: 7px;	
	border: 1px solid #7d7d7d;
	background-color: white;
	font-weight: 500;	
	color:#3b5f3e;
}

#groupEventNavBtnDiv button:hover {
	background-color: #EFEFEF;
}

#groupEventNavBtnDiv button.clicked {
    background-color: #EFEFEF;
}

/* 모임 일정 예정된/지난 일정 사이드바 */
#groupEventSidebarDiv {
    border: none;
	border-radius: 7px;
	background-color: white;
	height: 100px;
	padding: 0px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 모임 일정 예정된/지난 일정 버튼 */
#groupEventSidebarDiv button {
	height: 40px;
	width: 100px;
	border: none;
	background-color: white;
	font-weight: 500;	
	color:#3b5f3e;
	text-align: left;
}

#groupEventSidebarDiv button.clicked {
    color:#E15C31;
}

/* 예정된/지난 일정 목록 */
#groupEventListDiv {
	padding-top: 0px !important;
}

#upcomingEventsDiv, #pastEventsDiv {
	width: 100%;
	box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 크기를 부모 요소에 맞춤 */
	gap: 50px;
	padding-top: 0px !important;
}

#pastEventsDiv {
	display: none;	
}

/* 모임 일정들 */
.eventItemDiv {
	background-color: white;
	border-radius: 7px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.groupEventImageDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventImg {
	width: 300px;
	height: 200px;
	border-radius: 10px;
}

#eventNameDiv {
	font-size: 30px;
	font-weight: bold;
}

.eventMemberCntSpan {
	margin-left: 20px;
}

.groupEventAttendMembersDiv {
	width: 800px;
}

.groupEventMembersDiv {
    padding: 10px;
    text-align: center;
}

.eventAttendMembersListDiv {
    display: flex;
    flex-wrap: wrap;
}

.eventAttendMemberItemDiv {
    text-align: center;
}

.eventAttendMemberItemDiv img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.eventAttendMemberItemDiv p {
    margin: 0px 0px 0px 0px;
    width: 60px;
    overflow: hidden; /* 내용이 넘치지 않도록 */
}

.groupEventOptionBtnDiv {
	display: flex;
    justify-content: right;
    align-items: center;
}

.additionalMembersCntDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    margin: 0 0;
}

.groupEventOptionBtn {
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	width: 100px;
	height: 48px;
	border-radius: 7px;	
	border: 2px solid #E15C31;
	background-color: white;
	font-weight: 500;	
	color: #E15C31;
}

.groupEventOptionBtn:hover {
	background-color: #E15C31;
	color: white;
}

/* 일정 없을 때 */
#noEventsDiv {
	background-color: white;
	border-radius: 7px;
	height: 100px;
	display: flex;
	align-items: center;
	padding: 0px 30px !important;
}