/* groupEvent.css */

#groupEventContainerDiv {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    padding: 10px;
}

#groupEventNavDiv {
    grid-column: span 2;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

#groupEventNavDiv button {
    padding: 10px;
}

#groupEventSidebarDiv button {
    padding: 10px;
    width: 150px;
}

#futureEventsDiv, #pastEventsDiv {
	width: 100%;
	box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 크기를 부모 요소에 맞춤 */
}

#groupEventImageDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#eventImg {
	width: 200px;
	height: 200px;
}

#groupEventDetailDiv {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#groupEventDetailDiv > div{
    width: 50%;
}

#groupEventDescriptionDiv {
    padding: 10px;
}

#groupEventMembersDiv {
    grid-column: span 2;
    padding: 10px;
    text-align: center;
}

#groupEventJoinBtnDiv {
	display: flex;
    grid-column: span 2;
    justify-content: right;
}

#groupEventJoinBtnDiv button {
    padding: 10px;
    gap: 10px;
}