@charset "UTF-8";
/* 채팅 알림 페이지 css파일 */

/* 페이지 전체 */
body.noti-body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-top: 98px; /* 네비게이션 바의 높이만큼 패딩 추가 */
    background-color: #f5f5f5;
}

.noti-chats-container {
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
}

.chatContainer {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer; /* 커서 모양 변경 */
}

.chatContainer:hover {
    background-color: #f0f0f0; /* 마우스 오버 시 배경색 변경 */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* 마우스 오버 시 그림자 효과 강화 */
}

.groupImage {
    flex: 0 0 100px; /* 크기 조정 */
    text-align: center;
}

.groupImage img {
    width: 100px; /* 크기 조정 */
    height: 100px; /* 크기 조정 */
    object-fit: cover;
    border-radius: 10px; /* 타원형을 네모 모양으로 변경 */
    margin-bottom: 10px;
}

.groupName {
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    flex: 0 0 100px; /* 크기 조정 */
    /*텍스트 3줄까지만 보여주기*/
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.profileImage, .userNickname, .chatTime {
    display: inline-block; /* 한 줄에 배치하기 위해 inline-block 사용 */
    vertical-align: middle; /* 수직 정렬 */
}

.profileImage {
    margin-right: 10px; /* 요소 간 간격 추가 */
}

.profileImage img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%; /* 동그란 모양으로 변경 */
}

.userNickname {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 10px; /* 요소 간 간격 추가 */
}

.chatTime {
    color: #999;
    font-size: 0.9em;
}

.chatMessage {
    margin-top: 10px;
    font-size: 1em;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* 기타 스타일 */
.noti-header, .noti-footer {
    width: 100%;
    background-color: #fff;
}
