<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
    <!-- 타입 별칭 설정 -->
    <typeAliases>
        <typeAlias type="dto.ChatDTO" alias="chatdto"/>
        <typeAlias type="dto.EventDTO" alias="eventdto"/>
        <typeAlias type="dto.GroupDTO" alias="groupdto"/>
        <typeAlias type="dto.GroupDTO2" alias="groupdto2"/>
        <typeAlias type="dto.GroupMemberDTO" alias="groupmemberdto"/>
        <typeAlias type="dto.NotificationDTO" alias="notificationdto"/>
        <typeAlias type="dto.UserDTO" alias="userdto"/>
        <typeAlias type="dto.RegionDTO" alias="regiondto"/>
        <typeAlias type="dto.DistrictDTO" alias="districtdto"/>  
        <typeAlias type="dto.UserInterestDTO" alias="userinterestdto"/>      
    </typeAliases>
</configuration>
