@charset "UTF-8";
/*끼리끼리 웹사이트 공통 css파일*/
/*페이지 전체*/

/*구글 폰트 - kkirikkiri.css, mainFooter.jsp link부분확인*/
body{
	font-family: "Noto Sans KR", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
}

/*상단 네비게이션 바 고정*/
.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;     
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* 네비게이션 바의 높이만큼 body의 패딩을 추가 */
body {
    padding-top: 98px; 
}

body a{
	text-decoration: none;
	color: inherit;
}

/*상단 고정바-왼쪽*/
.header-nav-left{
	display:flex;
	justify-content:center;
}

.logo{
	width:80px;
	height: 80px;
}

.search-area input{	
	border: 1px solid #e4e2dd;
	height: 40px;
	width: 250px;
}

.search-area .first-input:first-of-type {
    border-right: none; 
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.search-area .second-input {
    border-right: none;   
}

.search-area button{
	border:none;
	height: 40px;
	width: 40px;
	border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #e15c31;
}

/*상단 고정바-로그인 후*/
/*상단 고정바-오른쪽*/
.header-nav{
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	padding-right: 150px;
	padding-left: 150px;
}

.header-nav-icon{
	font-size: 35px;
}

.header-nav-right{
	display:flex;	
	padding-right:30px;	
}

.header-nav-right a i{
    margin-right: 12px; 
    margin-top: 25px;
    color: #706F6F;
}

.header-nav-right a img{     
    margin-top: 15px;
    margin-left: 0px;
}

.header-nav-right .dropdown{
	margin-top: 25px;
}

.profile-circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px; 
    margin-right: 0px;
}

.profile-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}  
 
/*상단 오른쪽 - 드랍다운 버튼*/
#main-header-login-dropdown-btn{
	background-color: white;
	border: none;
	position: relative;
	margin-top: 1.8rem;
} 
  
#main-header-login-dropdown-btn i{
    margin-left: 0px;
    margin-bottom: 15px;
    background-color: white;
    color:#706F6F;
}  

#main-header-login-dropdown-menu{
	display:none;
	list-style: none;
	border: 1.5px solid rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	text-align: left;	
	padding: 10px;	
	padding-top: 13px;
	padding-left: 13px;
	position:absolute;
	width: 140px;	
	top: 100px;
	right: 170px;
	background-color: white;
}

#main-header-login-dropdown-menu li{
	margin-bottom: 5px;
}

#main-header-login-dropdown-menu li:hover{
	color: #e15c31;
}

#main-header-login-dropdown-menu a{
	font-weight: 500;
}

/*상단 고정바-로그인 전*/
/*상단 고정바-오른쪽*/
.before-login-header-nav-right button{
	padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 7px;
    background-color: #e15c31;
    border: none;
    color: white;
}

/*상단 고정바-'로그인', '회원가입' 버튼 모달*/
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-contents {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  position: relative;
}

.modal-close {
  color: #aaaaaa;  
  font-size: 28px;
  font-weight: bold;
  position: absolute; 
  top: 20px; 
  right: 20px; 
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content-container{
	text-align: center;
}

body.modal-open {
    overflow: hidden; 
}

body.modal-open2 {
    overflow: hidden; 
}

body {
    overflow: auto; 
}

.signup-suggestion{
	display: flex;
	justify-content: center;
}

.email-login input, .signup-button{
	width: 80%;
	height: 45px;
	border: 1px solid #e4e2dd;
	border-radius: 7px;	
}

.login-modal-button{
	margin-top: 25px;
	width: 80%;
	height: 53px;
	background-color:#e15c31;
	border-radius: 7px;
	border: none;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.signup-button{
	background-color: white;
	margin-bottom: 15px;
}

/*모달창 열고 닫을 때 애니메이션 효과*/
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-in {
  animation: fadeIn 0.3s forwards;
}

.fade-out {
  animation: fadeOut 0.3s forwards;
}

.email-signup-form{
	text-align: left;
	margin-left: 50px;
	margin-top: 2px;
}

.email-signup-form-checkbox {
    transform: scale(1.4); 
}

.email-signup-form-checkbox:checked {
    transform: scale(1.4);
}

/*이메일 회원가입 모달 내 비밀번호 확인*/
.password-input-container{
	display: flex;
	justify-content: space-around;
	position: relative;
}

.password-input-container i{
	padding-top: 15px;
	padding-right: 0px;
	margin-right: 0px;
	position: absolute;
	left: 82%
}

/*회원가입 내정보설정 모달 내 프로필 사진 업로드*/
.signup-myprofile-img{
	display: flex;
	flex-direction: column;
	align-items:center;
}

.signup-myprofile-add-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    
    border: 0.5px solid #ddd;
}

.file-input-container {
    position: relative;
    display: inline-block;
    margin-top: 10px; 
}

.custom-file-label {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;    
    background-color:#3b5f3e;
    color:white;    
    padding: 3px 6px;
    border-radius: 4px;
}

.file-input {
    display: none;
}

/*회원가입 내정보설정 모달 - 별명*/
.nickName-title{
	margin-top: 30px;
	text-align: left;
	margin-right: 19rem;
}

.check-nickName-input-area{
	display: flex;
	justify-content: space-between;
}

#userNickname{
	width: 18em;
	height: 45px;
	border: 1px solid #e4e2dd;
	border-radius: 7px;
	margin-right: 10px;
}

#nickname-confirm-btn{
	border-radius: 7px;
	background-color:#3b5f3e;
	color: white;
	border:none;
	font-size: 0.9rem;
}

#nickname-confirm-result{
	text-align: left;
	margin-right: 12rem;
}

/*회원가입 내정보설정 모달 - 사용자 위치(지역)*/
.user-area-title{
	margin-top: 30px;
	text-align: left;
	margin-right: 19rem;
}

.user-area-options{
	width: 85%;
	margin-bottom: 5px;
}

select{
	width: 200px;
	height: 40px;
	padding: 5px;
	border: 1px solid #e4e2dd;
	border-radius: 7px;
	font-size: 16px;
	appearance: none; /*기본 화살표 제거*/
	-webkit-appearance: none; /*Safari와 같은 웹킷 기반 브라우저에서 기본 화살표 제거*/
	-moz-appearance: none; /*Firefox에서 기본 화살표 제거*/	
}

/*select 요소의 커스텀 화살표 추가 */
select.user-area-options {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Angle_down_font_awesome.svg/512px-Angle_down_font_awesome.svg.png') no-repeat right 10px center;
    background-size: 20px;
}

/*option 요소의 스타일 변경*/
select option {
    color: #333;
    background-color: #fff;
    padding: 10px;
}

/*회원가입 내정보설정 모달 - 관심사*/
.interest-checkbox-title{
	margin-top: 30px;
	text-align: left;
	margin-right: 18rem;
}

.interest-checkbox-info{
	text-align:left;
	margin-right: 8.5rem;
}

.signup-set-myprofile-modal-interest {
    display: none;
}

.signup-set-myprofile-modal-interest + label {
    display: inline-block;
    width: 110px;
    height: 40px;
    border: 2px solid #e4e2dd;
    position: relative;
    cursor: pointer;
    border-radius: 7px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 1rem;
}

.signup-set-myprofile-modal-interest:checked + label {
    background-color: #f0a375;
    color: white;
}
     
.first-interest-checkbox-area label {
	margin-right: 100px; 
}

.first-interest-checkbox-area{
	display: flex;	
	margin-left: 100px;
	margin-top: 5px;
}

.second-interest-checkbox-area {
	display: flex;	
	margin-top:5px;
}

.second-interest-checkbox-area label[for="foodDrink"] {
    margin-right: 100px; 
}

.second-interest-checkbox-area label[for="selfStudy"] {
    margin-right: 0px;
}

.third-interest-checkbox-area label[for="etc"]{
	margin-right:210px;
	margin-top: 5px;
}

/*회원가입 내정보설정 모달 - 자기소개*/
.profile-intro-title{
	margin-top: 30px;
	text-align: left;
	margin-right: 19rem;
}

#profileIntro{
	width:85%;
}


/*하단 footer*/
footer{
	margin-top: 10rem;
	background-color:#fbf7f3;	
}

footer ul{
	list-style-type:none;
	padding:0;
	margin:0;
}

.footer-info{
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
}

.footer-title{
	font-size: 1.1rem;
	font-weight: 600;
	color: #717171;
}

.footer-links li{
	margin-bottom: 0.5rem;
	font-weight: 500;
}

.footer-company-info{
	font-size: 0.9rem;
}

.kakao-link{
	text-decoration: underline;
}

.container.footer-info {
    margin-bottom: 30px; 
}

.container.footer-bottom {
    margin-top: 50px; 
    padding-bottom: 50px;
}

.social-media-icon-area{
	margin-bottom: 15px;
}

.social-media-icon{
	font-size: 2rem;
	margin-right: 25px;
}
