@charset "UTF-8";
/*상단 여백 & 화면 좌우 부분*/
main{
	margin-top: 2rem;
}

.mypage-container{
	margin-top:20px;
	display: flex;
}

.my-info-area{
	padding: 10px;
}

.my-group-area{
	padding: 10px;
	padding-left: 50px;
}

/*구역별 디자인*/
.my-info-area-deco-box{
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 15px;
	/*position: absolute;*/ /*모임 보여주는 박스 조정하며 삭제*/
	width: 330px; /*모임 보여주는 박스 조정하며 추가*/
	border-radius: 7px;
}

/*사용자 이름 보이는 제목*/
.myPage-title{
	display: flex;
	text-align: center;
	margin-right: 100px;
}
.myPage-subTitle i{
	color: #8fbc8f;
	margin-left: 2px;
}

.myPage-subTitle{
	display: flex;
	margin-left: 10px;
}

.myPage-subTitle h1{
	position: relative;
	top: -8px;	
}

/*프로필 사진*/
.profile-img-container{
	 position: relative;
     width: fit-content;
     display: inline-block;  
}

.profile-img-container img{
	display: block;
    width: 100%;
    height: auto;  
    border-radius: 7px;
}

.profile-overlay {
   position: absolute;
   top: 0;
   left: 0;   
   width: 100%;
   height: 100%;  
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7) 100%);   
   border-radius: 7px;
}

.my-page-region-area{
	display: flex;
}

.profile-text {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    text-align: center;    
    padding-left: 20px;
    padding-bottom: 20px;
}

/*관심사*/
#go-to-edit-my-page{
	border:none;
	text-decoration: underline;
	margin-bottom: 15px;
	background-color: white;
	color: #e15c31;
	font-weight: bold;
}

#go-to-edit-my-page i{
	margin-right: 5px;
}

.my-page-interest-area{
	margin-top: 15px;
	padding-left: 10px;
}

.my-page-interest-area p{
	font-size: 17px;
	margin-bottom: 5px;
}

#show-modify-interest-btn{
	border: none;
	background-color: white;
	color: #3b5f3e;
	font-weight: 600;
	padding:0;
	text-decoration: underline;		
}

.my-page-show-interest-area{
	display: flex;
	margin-bottom: 10px;
	font-weight: 500;
}

.my-page-show-interest-area i{
	margin-right: 5px;
	margin-top: 5px;
	color:#f0a375;
}

/*관심사 수정 드랍다운*/
.interest-list {
    display: none;
}

.interest-list + label {
    display: inline-block;
    width: 110px;
    height: 40px;
    position: relative;
    cursor: pointer;
    border-radius: 7px;    
    background-color:#fbf7f3;    
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 1rem;
    font-weight:450;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.interest-list:checked + label {
    background-color: #f0a375;
    color: white;
}

.first-my-page-interest-checkbox-area,
.second-my-page-interest-checkbox-area{
	display: flex;	
	justify-content: space-around;
	margin-top: 10px;
}

.third-my-page-interest-checkbox-area{
	margin-left: 1.2rem;
	margin-top: 10px;
}

#my-page-interest-warning{
	text-align: center;
	margin-top:5px;
}

#modify-interest-btn{
	margin-top: 5px;
	margin-left: 12.5rem;
	width: 25%;
	height: 30px;
	background-color:white;
	border-radius: 7px;
	border: 1px solid #e15c31;
	color: #e15c31;
	font-weight: bold;
	font-size: 12px;
}

#modify-interest-btn:hover{
	background-color:#e15c31;
	color: white;
}

/*모임&일정 메뉴탭*/
/*상단 메뉴탭*/
#my-page-nav{
	display:flex;	
}

#my-page-nav button{
	margin-right:2px;
	padding: 10px;
	width: 11%;
	height: 8%;
	border-radius: 7px;	
	border:none;
	background-color: #eaf2ea;
	font-weight: 500;	
	color:#3b5f3e;
}

#my-page-nav button:hover{
	background-color: #8fbc8f;
	color: white;
}
/*myPage.js에서 사용*/
#my-page-nav button.clicked {
    background-color: #8fbc8f;
	color: white;
}

.my-page-top-nav-line{
	height: 2px;
	background-color:#eaf2ea;	
}

/*모임 보여지는 공간*/
#my-groups,
#my-events{
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 7px;
	margin-top: 2rem;
	padding: 30px 40px;
}

/*하단 메뉴탭*/
#my-group-area-nav,
#my-event-area-nav{
	display:flex;	
}

#my-group-area-nav button,
#my-event-area-nav button{
	margin-right:2px;
	padding: 10px;
	width: 11%;
	height: 8%;		
	border:none;
	background-color: white;
	font-weight: 500;	
	color:#3b5f3e;	
}

#my-group-nav-underline,
#my-event-nav-underline{	
	height: 4px;
	background-color:#eaf2ea;
    position: absolute;   
    transition: 0.5s;
    bottom: 0;
}

/*내 모임 목록*/
/*모임 보여지는 div 최소 크기 지정*/
#my-group-content{
	min-height: 384px;
}

/*모임 이미지 & 이름*/
.my-group-image-name:hover{    
    filter: contrast(80%) ;
    text-decoration: underline;
}

.my-group-image {
	width:100%;
	height: 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 7px;
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;
    text-align: center;
}

.my-group-name{
	font-weight: bold;
	margin-top: 7px;	
	font-size: 15px;	
	text-align: center;
	/*텍스트 2줄까지만 보여주기*/
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*내 그룹/일정이 없을 경우 보여지는 메시지*/
.my-page-no-group-message img{
	width: 20%;
	height: 65%;
}

.my-page-no-group-message{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.my-page-no-group-message a{
	margin-top: 10px;
	color: #3b5f3e;
	font-weight: bold;
	text-decoration: underline;
}

.my-page-no-group-message h6{
	margin-top: 10px;
	color: #3b5f3e;
	font-weight: bold;
}

/*일정 목록*/
/*일정 보여지는 div 최소 크기 지정*/
#my-event-content{
	min-height: 384px;
}

#my-events{
	display: none;
}

.event-year{
	margin-top:2rem;
}

.event-date{	
	margin-top: 1rem;
	font-weight: bold;
}

.event-date-hr{
	height: 2px;
	background-color:#e0e0e0;
	margin-bottom: 1.5rem;
	width: 90%;
}

.event-item{
	display: flex;
	align-items: flex-start;
	box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
	width: 90%;
	margin: 1rem 0;
	overflow: hidden;
}

.event-item img{	
	width: 200px;
	height: 150px;	
	object-fit: cover;
	flex-shrink: 0;
}

.event-item-content{		
	padding: 10px 30px;
	flex: 1;
	box-sizing: border-box;
	overflow: hidden;
    flex-shrink: 0;
}

.event-item-location{
	color: #2f4f3b;
	font-weight: 600;
}

.event-item-name{
	font-size: 20px;
	font-weight: 600;
	display: block;	
	/*텍스트 2줄까지만 보여주기*/
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;   
    padding-bottom: 5px;
    margin: 0;
}

.event-item-group-name{
	font-size: 18px;
	font-weight: 500;
	color: #7d7d7d;
}

     
