/* groupDetail.css */

/* 모임 상세 페이지 main */
#groupDetailMain {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 자식 요소의 내용을 수평 중앙 정렬 */
    align-items: center; /* 자식 요소의 내용을 수직 중앙 정렬 */
    width: 100%;
}

/* 모임 상세 페이지 헤더, 탭 페이지 section */
.groupDetailSection {
    min-width: 1200px; /* 최소 가로 사이즈를 1320px로 설정 */
}

/* 모임 상세 페이지 헤더(모임 대표 이미지, 정보) */
#groupHeaderSection {
    display: flex; /* Flexbox를 사용하여 div들을 정렬 */
    flex-direction: row; /* 가로 방향으로 나열 */
    gap: 100px; /* div들 사이의 간격 설정 */
    justify-content: center; /* 가로 방향으로 중앙 정렬 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
    padding: 10px; /* 섹션 내부의 패딩 설정 */
    margin-top: 30px;
    margin-bottom: 30px;
}

/* 모임 대표 이미지 */
#groupImg {
	width: 600px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px; /* 이미지 동그랗게 만듬 */
}

/* 모임 상세페이지 헤더 내 모임 정보 표 */
#groupDetailDiv div {
	width: 400px;
}

/* 모임 이름 */
#groupNameDiv {
	font-weight: bold;
    font-size: 60px;
}

#groupCategoryDiv {
	font-weight: bold;
    font-size: 35px;
    padding-bottom: 10px; 
}

/* 모임 이름 제외 div들 */
.groupInfoDiv {
	font-size: 20px;
	padding: 2.5px;
}

/* 모임 상세 페이지 네비게이션 바 */
#groupNavSection {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 95px;
    background-color: #fff;
    width: 110%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #B7B7B7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#groupDetailNav {
	display: flex;
    flex-direction: row;
    gap: 415px;
}

#groupTapNavDiv {
	width: 455px;
}

.groupDetailNavDiv button{
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	width: 100px;
	height: 48px;
	border-radius: 7px;	
	border: none;
	background-color: #eaf2ea;
	font-weight: 500;	
	color:#3b5f3e;
}

.groupDetailNavDiv button:hover {
	background-color: #8fbc8f;
	color: white;
}

.groupDetailNavDiv button.clicked {
    background-color: #8fbc8f;
	color: white;
}

button {
	cursor: pointer;
}

#chatTapBtn {
	display: none;
}

/* 탭 페이지 */
#groupTapPageSection {
	display: flex;
	width: 100%;
	min-height: 600px;
	background-color: #F6F7F8;
	justify-content: center;
	padding-bottom: 10px;
}

#groupTapPageSection div {
	padding: 10px;
}

.tapPageSection {
	width: 1220px;
	padding-bottom: 20px;
}

/* [모임 상세] 탭 페이지 */
#infoTapPageSection {
	padding-top: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; /* 1열과 2열로 나눔 */
	gap: 0px; /* 열 간의 간격 설정 */
}

.groupInfoHeaderDiv {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.groupInfoHeaderDiv span {
	font-weight: bold;
    font-size: 20px;
}

.groupInfoSectionDiv {
	background-color: white;
	border-radius: 7px;
}

#groupDescriptionDiv {
  grid-column: 1 / 3; /* 1열 전체 차지 */
}

#groupMembersDiv {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 행 간의 간격 설정 */
  grid-column: 3 / 4; /* 3열을 차지 */
}

#leaderInfoDiv {
	display: flex;
    gap: 10px;
    align-items: center;
}

#leaderInfoDiv > div {
    align-items: center; /* 자식 요소의 내용을 수직 중앙 정렬 */
}

#leaderImageDiv {
    flex: 0 0 auto; /* 고정된 크기 */
}

#leaderNicknameDiv {
    flex: 1; /* 남은 공간 모두 차지 */
    text-align: center; /* 텍스트 중앙 정렬 */
    font-size: 18px;
    font-weight: bold;
}

#leaderImg, .memberProfileImage {
	width: 60px;
	height: 60px;
	border-radius: 50%; /* 이미지 동그랗게 만듬 */
    object-fit: cover; /* 이미지의 비율을 유지하면서 요소의 크기에 맞춤 */
}

.is-members {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개의 열을 생성 */
    gap: 10px; /* 아이템 사이의 간격 설정 */
}

.no-members {
    display: block; /* 멤버가 없을 때는 flex 설정을 해제 */
}

#toggleMembersBtn {
	display: none;
	border: none;
	background-color: transparent; /* 배경색을 투명하게 설정 */
}

.memberItemDiv {
	width: 100%; /* 부모 요소의 너비에 맞추어 설정 */
    box-sizing: border-box; /* 패딩과 보더를 포함한 너비 계산 */
}

.memberProfileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.memberItemDiv > div {
	text-align: center; /* 텍스트 중앙 정렬 */
}