/* groupDetail.css */

#groupImg {
	width: 300px;
	height: auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    display: flex;
    gap: 10px;
}

section div {
    border: 1px solid #000;
    padding: 10px;
}

#chatBtn {
	display: none;
}

#leaderImg {
	width: 50px;
	height: auto;
}

#membersDiv, #leaderInfoDiv {
	display: flex;
    gap: 10px;
    align-items: stretch; /* 자식 요소들의 높이를 동일하게 설정 */
}

#leaderInfoDiv > div {
    display: flex;
    align-items: center; /* 자식 요소의 내용을 수직 중앙 정렬 */
    justify-content: center; /* 필요 시 수평 중앙 정렬 */
}

#groupFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #000;
}