/* groupJoin.css */

/* 가입창 모달 */
.groupJoin-wide-modal {
	width: 600px;
}

/* 모임장 프로필, 가입 질문 */
#questionDiv {
	background-color: white;
    padding: 20px;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    border: 1px solid #ccc;
}

/* 모임장 프로필 */
.groupJoin-wide-modal #leaderInfoDiv div{
	width: 105px;
	display: flex;
    justify-content: center;
    align-items: center;
}

/* 모임장 프로필 사진 */
#leaderImgDiv img {
	width: 65px;
	height: 65px;
	border-radius: 50%; /* 이미지 동그랗게 만듬 */
    object-fit: cover; /* 이미지의 비율을 유지하면서 요소의 크기에 맞춤 */
}

/* 모임장 이름 */
#leaderNameDiv {
	font-size: 18px;
	font-weight: bold;
}

#questionDiv {
    display: flex;
    align-items: stretch; /* 자식 요소들의 높이를 동일하게 설정 */
}

.groupJoin-wide-modal #leaderInfoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

#leaderProfileDiv, #leaderNameDiv {
    width: 100%; /* 너비를 100%로 설정하여 부모 요소에 맞춤 */
}

#signUpQuestionDiv {
    flex: 1; /* 남은 공간을 차지 */
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: flex-start; /* 내용을 왼쪽으로 정렬 */
    padding-left: 10px; /* 왼쪽 가장자리에서 공간 생성 (선택 사항) */
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
}

/* 가입 질문 답변 */
#signUpAnswerTxt {
	border: 1px solid #ccc;
	border-radius: 5px;
    width: 500px;
    height: 100px;
    padding: 20px;
    box-sizing: border-box; /* 패딩을 포함한 전체 너비와 높이 계산 */
    margin: 10px;
    border-radius: 10px;
}