/* groupQuit.css */

/* 모임 탈퇴창 모달 */
.groupQuit-wide-modal {
	width: 610px;
}

#groupQuitGuideDiv {
    padding: 20px;
    width: 510px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    border: 1px solid #ccc;
}

#groupQuitGuideDiv li {
	text-align: left;
	padding: 3px 0;
}

#groupQuitGuideDiv ul{
	text-align: center;
	margin: 0 auto;
}

.groupQuit-custom-confirm-button {
	background-color: #E15C31 !important;
}