/* groupChat.css */

/* 모임 채팅 탭 페이지 section */

/* 모임 채팅 페이지 헤더 */
#groupChatHeaderDiv {
	display: flex; 
    justify-content: center; /* 가로 방향으로 중앙 정렬 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
    gap: 15px;
    height: 100px;
}

#groupChatHeaderDiv span {
	font-size: 30px;
	font-weight: bold;
}

/* 모임 채팅 페이지 */
#groupChatPageDiv {
	padding: 50px !important;
	background-color: white;
	border-radius: 7px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 채팅방 테두리 */
#groupChatBorderDiv {
	border: 1.5px solid #c0c0c0;
	border-radius: 7px;
	padding: 20px !important;
}

/* 채팅방 */
#groupChatLogDiv {
    overflow-y: auto;
    height: 700px; /* 채팅방 높이 조정 */
	-ms-overflow-style: none; /* IE and Edge에서 스크롤바 숨기기 */
    scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

#groupChatLogDiv::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera에서 스크롤바 숨기기 */
}

.chatTimeSpan {
    color: #888;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.chatUserProfileImg {
	width: 30px;
	height: 30px;
	border-radius: 50%; /* 이미지 동그랗게 만듬 */
}

.userNicknameSpan {
    margin-right: 7px;
}

.chatMessageSpan {
	font-weight: 500;
}

.chatUserProfileImg {
	margin: 0 10px;
}

.chatMessageSpan {
	margin: 0 3px;
}

.chatMessageP {
	display: flex; /* Flexbox를 사용하여 자식 요소들을 정렬합니다 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    clear: both;
    padding: 5px 10px;
    height: 42px;
    margin-bottom: 15px;
    font-size: 18px;
}

/* 현재 로그인한 회원의 메세지 */
.sentMessageP {
    text-align: right;
    float: right;
    clear: both;
}

.sentMessageP .chatMessageSpan {
	padding: 5px 10px;
	border-radius: 20px;
	background-color: #E15C31; /* 자신의 메시지 배경색 */
	color: white;
}

/* 다른 회원 메세지 */
.receivedMessageP {
    text-align: left;
    float: left;
    clear: both;
}

.receivedMessageP .chatMessageSpan {
	padding: 5px 10px;
	border-radius: 20px;
	background-color: #eef0f2; /* 다른 회원의 메시지 배경색 */
}

/* 날짜 메시지 스타일 추가 */
.dateMessageP {
    clear: both;
    margin: 15px 0px;
    text-align: center;
    font-weight: 600;
    padding: 5px 10px;
    font-size: 20px;
    color: #4e4e4e;
    position: relative; /* 중앙선 스타일을 위한 상대 위치 설정 */
}

/* 중앙선을 그리는 가상 요소 추가 */
.dateMessageP::before,
.dateMessageP::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%; /* 중앙선 길이 조절 */
    height: 1px;
    background: #c0c0c0; /* 선 색상 */
}

.dateMessageP::before {
    left: 0;
}

.dateMessageP::after {
    right: 0;
}

/* 채팅 입력칸 */
#chatTextSendDiv {
	display: flex; /* Flexbox를 사용하여 div들을 정렬 */
    justify-content: center; /* 가로 방향으로 중앙 정렬 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
}

#chatTextInputDiv {
	display: flex; /* Flexbox를 사용하여 div들을 정렬 */
    gap: 10px; /* div들 사이의 간격 설정 */
    justify-content: center; /* 가로 방향으로 중앙 정렬 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
    border: 1px solid #c0c0c0;
	border-radius: 20px;
	width: 1200px;
	height: 60px;
}

#chatMessageInput {
	width: 950px;
	height: 44px;
	border: none;
	border-radius: 20px;
	outline: none; /* 포커스 시 나타나는 기본 테두리 없애기 */
}

/* 채팅 전송 버튼 */
#chatSendBtn {
	border: none;
	background-color: white;
	display: flex; /* Flexbox를 사용하여 자식 요소들을 정렬합니다 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
	transition: transform 0.2s ease-in-out; /* 애니메이션 추가 */
}

#chatSendBtn:hover {
    transform: scale(1.1); /* 마우스를 올렸을 때 커지게 설정 */
}

#chatSendBtn:active {
    transform: scale(1); /* 클릭했을 때 작아지게 설정 */
}